* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    background-color: #333;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 1.8rem;
}

#banner {
    font-size: 4rem;
}

#clock {
    font-size: 3rem;
    border: 3px solid black;
    padding: 2rem 7rem;
    border-radius: 0.8rem;
    background-color: rgb(246, 144, 1);
    color: #fff;
}